SoftPub/SoftComerziaBO/Connected Services/ComerziaWeb/AlmacenWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.comerziasoft.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AlmacenWS" targetNamespace="http://services.comerziasoft.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/AlmacenWS?xsd=1" namespace="http://services.comerziasoft.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarProductoAlmacenado">
    <part name="parameters" element="tns:insertarProductoAlmacenado" />
  </message>
  <message name="insertarProductoAlmacenadoResponse">
    <part name="parameters" element="tns:insertarProductoAlmacenadoResponse" />
  </message>
  <message name="listarAlmacenes">
    <part name="parameters" element="tns:listarAlmacenes" />
  </message>
  <message name="listarAlmacenesResponse">
    <part name="parameters" element="tns:listarAlmacenesResponse" />
  </message>
  <message name="buscarProductoPorId">
    <part name="parameters" element="tns:buscarProductoPorId" />
  </message>
  <message name="buscarProductoPorIdResponse">
    <part name="parameters" element="tns:buscarProductoPorIdResponse" />
  </message>
  <message name="listarPorAlmacen">
    <part name="parameters" element="tns:listarPorAlmacen" />
  </message>
  <message name="listarPorAlmacenResponse">
    <part name="parameters" element="tns:listarPorAlmacenResponse" />
  </message>
  <message name="buscarPorNombre">
    <part name="parameters" element="tns:buscarPorNombre" />
  </message>
  <message name="buscarPorNombreResponse">
    <part name="parameters" element="tns:buscarPorNombreResponse" />
  </message>
  <message name="obtenerPorId">
    <part name="parameters" element="tns:obtenerPorId" />
  </message>
  <message name="obtenerPorIdResponse">
    <part name="parameters" element="tns:obtenerPorIdResponse" />
  </message>
  <portType name="AlmacenWS">
    <operation name="insertarProductoAlmacenado">
      <input wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/insertarProductoAlmacenadoRequest" message="tns:insertarProductoAlmacenado" />
      <output wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/insertarProductoAlmacenadoResponse" message="tns:insertarProductoAlmacenadoResponse" />
    </operation>
    <operation name="listarAlmacenes">
      <input wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/listarAlmacenesRequest" message="tns:listarAlmacenes" />
      <output wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/listarAlmacenesResponse" message="tns:listarAlmacenesResponse" />
    </operation>
    <operation name="buscarProductoPorId">
      <input wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/buscarProductoPorIdRequest" message="tns:buscarProductoPorId" />
      <output wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/buscarProductoPorIdResponse" message="tns:buscarProductoPorIdResponse" />
    </operation>
    <operation name="listarPorAlmacen">
      <input wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/listarPorAlmacenRequest" message="tns:listarPorAlmacen" />
      <output wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/listarPorAlmacenResponse" message="tns:listarPorAlmacenResponse" />
    </operation>
    <operation name="buscarPorNombre">
      <input wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/buscarPorNombreRequest" message="tns:buscarPorNombre" />
      <output wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/buscarPorNombreResponse" message="tns:buscarPorNombreResponse" />
    </operation>
    <operation name="obtenerPorId">
      <input wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/obtenerPorIdRequest" message="tns:obtenerPorId" />
      <output wsam:Action="http://services.comerziasoft.pucp.edu.pe/AlmacenWS/obtenerPorIdResponse" message="tns:obtenerPorIdResponse" />
    </operation>
  </portType>
  <binding name="AlmacenWSPortBinding" type="tns:AlmacenWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarProductoAlmacenado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlmacenes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarProductoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AlmacenWS">
    <port name="AlmacenWSPort" binding="tns:AlmacenWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/AlmacenWS" />
    </port>
  </service>
</definitions>