frontend/ComerziaWA/Connected Services/ComerziaWS/AlmacenWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.comerzia.pucp.edu.pe" targetNamespace="http://services.comerzia.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarPorNombre" type="tns:buscarPorNombre" />
  <xs:element name="buscarPorNombreResponse" type="tns:buscarPorNombreResponse" />
  <xs:element name="buscarProductoPorId" type="tns:buscarProductoPorId" />
  <xs:element name="buscarProductoPorIdResponse" type="tns:buscarProductoPorIdResponse" />
  <xs:element name="eliminarProductoAlmacenado" type="tns:eliminarProductoAlmacenado" />
  <xs:element name="eliminarProductoAlmacenadoResponse" type="tns:eliminarProductoAlmacenadoResponse" />
  <xs:element name="eliminar_almacen" type="tns:eliminar_almacen" />
  <xs:element name="eliminar_almacenResponse" type="tns:eliminar_almacenResponse" />
  <xs:element name="eliminar_producto" type="tns:eliminar_producto" />
  <xs:element name="eliminar_productoResponse" type="tns:eliminar_productoResponse" />
  <xs:element name="insertarProductoAlmacenado" type="tns:insertarProductoAlmacenado" />
  <xs:element name="insertarProductoAlmacenadoResponse" type="tns:insertarProductoAlmacenadoResponse" />
  <xs:element name="insertar_almacen" type="tns:insertar_almacen" />
  <xs:element name="insertar_almacenResponse" type="tns:insertar_almacenResponse" />
  <xs:element name="insertar_producto" type="tns:insertar_producto" />
  <xs:element name="insertar_productoResponse" type="tns:insertar_productoResponse" />
  <xs:element name="listarAlmacenes" type="tns:listarAlmacenes" />
  <xs:element name="listarAlmacenesParaIndex" type="tns:listarAlmacenesParaIndex" />
  <xs:element name="listarAlmacenesParaIndexResponse" type="tns:listarAlmacenesParaIndexResponse" />
  <xs:element name="listarAlmacenesResponse" type="tns:listarAlmacenesResponse" />
  <xs:element name="listarPorAlmacen" type="tns:listarPorAlmacen" />
  <xs:element name="listarPorAlmacenResponse" type="tns:listarPorAlmacenResponse" />
  <xs:element name="listarProductoParaIndex" type="tns:listarProductoParaIndex" />
  <xs:element name="listarProductoParaIndexResponse" type="tns:listarProductoParaIndexResponse" />
  <xs:element name="modificar_almacen" type="tns:modificar_almacen" />
  <xs:element name="modificar_almacenResponse" type="tns:modificar_almacenResponse" />
  <xs:element name="modificar_producto" type="tns:modificar_producto" />
  <xs:element name="modificar_productoResponse" type="tns:modificar_productoResponse" />
  <xs:element name="obtenerPorId" type="tns:obtenerPorId" />
  <xs:element name="obtenerPorIdResponse" type="tns:obtenerPorIdResponse" />
  <xs:complexType name="modificar_almacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_almacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombreProducto" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_productoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductoParaIndex">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProductoParaIndexResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="precio" type="xs:double" />
          <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseEntity" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdAt" type="tns:timestamp" />
      <xs:element minOccurs="0" name="deletedAt" type="tns:timestamp" />
      <xs:element minOccurs="0" name="updatedAt" type="tns:timestamp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timestamp">
    <xs:sequence>
      <xs:element name="nanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorAlmacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAlmacen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorAlmacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoAlmacenado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoAlmacenado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaAlmacenado" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="idAlmacen" type="xs:int" />
          <xs:element minOccurs="0" name="idProducto" type="xs:int" />
          <xs:element minOccurs="0" name="stockActual" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertar_almacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_almacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_productoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlmacenes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAlmacenesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:almacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listarAlmacenesParaIndex">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAlmacenesParaIndexResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:almacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:almacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProductoAlmacenado">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlmacenado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="idProd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProductoAlmacenadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreProd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_almacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAlmacen" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_almacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreProducto" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_productoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoAlmacenado">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProductoAlmacenado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoAlmacenadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarProductoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarProductoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>