frontend/ComerziaWA/Connected Services/ComerziaWS/NotificacionesWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.comerzia.pucp.edu.pe" targetNamespace="http://services.comerzia.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarNotificaciones" type="tns:listarNotificaciones" />
  <xs:element name="listarNotificacionesResponse" type="tns:listarNotificacionesResponse" />
  <xs:complexType name="listarNotificaciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarNotificacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:notificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>