SoftPub/SoftPubWA/Connected Services/ServicioWeb/RecursosHumanosWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.eventmastersoft.pucp.edu.pe" targetNamespace="http://services.eventmastersoft.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="devolverNombreEmpleado" type="tns:devolverNombreEmpleado" />
  <xs:element name="devolverNombreEmpleadoResponse" type="tns:devolverNombreEmpleadoResponse" />
  <xs:element name="verEmpleado" type="tns:verEmpleado" />
  <xs:element name="verEmpleadoResponse" type="tns:verEmpleadoResponse" />
  <xs:complexType name="devolverNombreEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="devolverNombreEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuenta" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>